<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeuPreco">

        <!-- Activity principal (Launcher) da Entrega 2: listagem de produtos. -->
        <activity
            android:name=".ListaPrecosActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity da Entrega 1 (formulário): permanece no projeto, mas não é
             mais a inicial e não é acessada pelo usuário. -->
        <activity
            android:name=".CadastroPrecoActivity"
            android:exported="false"
            android:label="@string/titulo_activity_cadastro"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
